/* ==========================
   HOME PAGE / HERO & HIGHLIGHTS
========================== */

/* ==========================
   HERO SECTION
========================== */

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  min-height: 40vh;
  padding: var(--spacing-xl);
  margin-bottom: var(--spacing-md);

  background-color: var(--color-section-bg);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-light);
  border: 1px solid var(--color-section-bg-alt);

  transition: all 0.3s ease;
}

.intro-section:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-medium);
  border-color: var(--color-primary-hover);
}
.highlight-name {
  color: var(--color-primary);
}

.intro-section h1 {
  font-size: var(--fs-h1);
  margin-bottom: var(--spacing-sm);
}


.intro-section .intro-description {
  font-size: var(--fs-body);
  max-width: 650px;
  line-height: 1.7;
  color: var(--color-secondary-text);
  margin-bottom: var(--spacing-lg);
}

/* ==========================
   LINKS SECTION
========================== */

.links-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  flex-wrap: wrap;
}

.links-container a {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-lg);
  border-radius: var(--radius-md);
  font-weight: 500;
}
.links-container .social-links {
  display: flex;
  gap: var(--spacing-sm);
}

/* ==========================
   HIGHLIGHTS SECTION
========================== */
.highlights {
  padding: var(--spacing-xl);
  background-color: var(--color-section-bg);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-light);
  border: 1px solid var(--color-section-bg-alt);

  transition: all 0.3s ease;
}

.highlights:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-medium);
  border-color: var(--color-primary-hover);
}

.highlights h2 {
  font-size: var(--fs-h2);
  margin-bottom: var(--spacing-lg);
  color: var(--color-primary); /* apply primary color */
}

.highlights ul {
  font-size: var(--fs-body);
  color: var(--color-text);
}

.highlights ul li {
  margin: var(--spacing-md) 0;
  color: var(--color-secondary-text);
}
