/* ==========================
   SKILLS PAGE
========================== */

/* Skill Card */
.skills-container .intro-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: auto;
  padding: var(--spacing-md);
  background-color: var(--color-section-bg);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-light);
  border: 1px solid var(--color-section-bg-alt);
  transition: all 0.3s ease;
  margin: 0;

}

.skills-container .intro-section:hover {
  box-shadow: var(--shadow-medium);
  transform: translateY(-2px);
  border-color: var(--color-primary-hover);
}

/* Category Header */
.skills-container .intro-section h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: var(--fs-title);
  margin-bottom: var(--spacing-sm);
}

.skills-container .intro-section h2 svg {
  font-size: 1.5rem;
  color: var(--color-primary);
}

/* Skill list */
.skills-container .intro-section ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.skills-container .intro-section ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-sm);
  width: 100%;
  font-weight: 500;
}

/* Tech Badge */
.skills-container .tech-badge {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.2rem 0.4rem;
  border-radius: var(--radius-xs);
  background-color: var(--color-section-bg-alt);
  color: var(--color-text);
  border: 1px solid transparent;
  transition: all 0.2s ease;
}

.skills-container .tech-badge:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}


.skills-container .level:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

